
	<div class="rowtype1">
		<div class="row">
			<div class="span4">
				<%if @products.count > 0%>
				<a href="#" class="like-btn" id="<%= @products[0].id%>"> <div class="layover4 layover"></div>
				<div class="love-it4 love-it">
					Lo amo <i class="icon-heart icon-white"></i>
				</div> <img src="<%= @products[0].image%>" class="img-polaroid"> </a>
				<%end%>
			</div>
			<div class="span2">
				<div class="row">
					<div class="span2">
						
						<%if @products.count > 1%>
				<a href="#" class="like-btn" id="<%= @products[1].id%>"> <div class="layover2 layover"></div>
						<div class="love-it2 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[1].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
				<div class="row">
					<div class="span2">
						<%if @products.count > 2%>
				<a href="#" class="like-btn" id="<%= @products[2].id%>"> <div class="layover2 layover"></div>
						<div class="love-it2 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[2].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
			</div>
			<div class="span2">
				<div class="row">
					<div class="span2">
						<%if @products.count > 3%>
				<a href="#" class="like-btn" id="<%= @products[3].id%>"> <div class="layover2 layover"></div>
						<div class="love-it2 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[3].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
				<div class="row">
					<div class="span2">
						<%if @products.count > 4%>
				<a href="#" class="like-btn" id="<%= @products[4].id%>"> <div class="layover2 layover"></div>
						<div class="love-it2 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[4].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
			</div>
			<div class="span4">
				<%if @products.count > 5%>
				<a href="#" class="like-btn" id="<%= @products[5].id%>"> <div class="layover4 layover"></div>
				<div class="love-it4 love-it">
					Lo amo <i class="icon-heart icon-white"></i>
				</div> <img src="<%= @products[5].image%>" class="img-polaroid"> </a>
				<%end%>
			</div>
		</div>
	</div>

	<div class="rowtype5">
		<div class="row">
			<div class="span3">
				<div class="row">
					<div class="span3">
						<%if @products.count > 6%>
				<a href="#" class="like-btn" id="<%= @products[6].id%>"> <div class="layover3 layover"></div>
						<div class="love-it3 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[6].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
				<div class="row">
					<div class="span3">
						<%if @products.count > 7%>
				<a href="#" class="like-btn" id="<%= @products[7].id%>"> <div class="layover3 layover"></div>
						<div class="love-it3 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[7].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
			</div>
			<div class="span6">
				<%if @products.count > 8%>
				<a href="#" class="like-btn" id="<%= @products[8].id%>"> <div class="layover6 layover"></div>
				<div class="love-it6 love-it">
					Lo amo <i class="icon-heart icon-white"></i>
				</div> <img src="<%= @products[8].image%>" class="img-polaroid"> </a>
				<%end%>
			</div>
			<div class="span3">
				<div class="row">
					<div class="span3">
						<%if @products.count > 9%>
				<a href="#" class="like-btn" id="<%= @products[9].id%>"> <div class="layover3 layover"></div>
						<div class="love-it3 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[9].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
				<div class="row">
					<div class="span3">
						<%if @products.count > 10%>
				<a href="#" class="like-btn" id="<%= @products[10].id%>"> <div class="layover3 layover"></div>
						<div class="love-it3 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[10].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="rowtype2">
		<div class="row">
			<div class="span2">
				<div class="row">
					<div class="span2">
						<%if @products.count > 11%>
				<a href="#" class="like-btn" id="<%= @products[11].id%>"> <div class="layover2 layover"></div>
						<div class="love-it2 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[11].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
				<div class="row">
					<div class="span2">
						<%if @products.count > 12%>
				<a href="#" class="like-btn" id="<%= @products[12].id%>"> <div class="layover2 layover"></div>
						<div class="love-it2 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[12].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
			</div>
			<div class="span4">
				<%if @products.count > 13%>
				<a href="#" class="like-btn" id="<%= @products[13].id%>"> <div class="layover4 layover"></div>
				<div class="love-it4 love-it">
					Lo amo <i class="icon-heart icon-white"></i>
				</div> <img src="<%= @products[13].image%>" class="img-polaroid"> </a>
				<%end%>
			</div>
			<div class="span4">
				<%if @products.count > 14%>
				<a href="#" class="like-btn" id="<%= @products[14].id%>"> <div class="layover4 layover"></div>
				<div class="love-it4 love-it">
					Lo amo <i class="icon-heart icon-white"></i>
				</div> <img src="<%= @products[14].image%>" class="img-polaroid"> </a>
				<%end%>
			</div>
			<div class="span2">
				<div class="row">
					<div class="span2">
						<%if @products.count > 15%>
				<a href="#" class="like-btn" id="<%= @products[15].id%>"> <div class="layover2 layover"></div>
						<div class="love-it2 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[15].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
				<div class="row">
					<div class="span2">
						<%if @products.count > 16%>
				<a href="#" class="like-btn" id="<%= @products[16].id%>"> <div class="layover2 layover"></div>
						<div class="love-it2 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[16].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="rowtype6">
		<div class="row">
			<div class="span2">
				<div class="row">
					<div class="span2">
						<%if @products.count > 17%>
				<a href="#" class="like-btn" id="<%= @products[17].id%>"> <div class="layover2 layover"></div>
						<div class="love-it2 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[17].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
				<div class="row">
					<div class="span2">
						<%if @products.count > 18%>
				<a href="#" class="like-btn" id="<%= @products[18].id%>"> <div class="layover2 layover"></div>
						<div class="love-it2 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[18].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
			</div>
			<div class="span2">
				<div class="row">
					<div class="span2">
						<%if @products.count > 19%>
				<a href="#" class="like-btn" id="<%= @products[19].id%>"> <div class="layover2 layover"></div>
						<div class="love-it2 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[19].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
				<div class="row">
					<div class="span2">
						<%if @products.count > 20%>
				<a href="#" class="like-btn" id="<%= @products[20].id%>"> <div class="layover2 layover"></div>
						<div class="love-it2 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[20].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
			</div>
			<div class="span4">
				<%if @products.count > 21%>
				<a href="#" class="like-btn" id="<%= @products[21].id%>"> <div class="layover4 layover"></div>
				<div class="love-it4 love-it">
					Lo amo <i class="icon-heart icon-white"></i>
				</div> <img src="<%= @products[21].image%>" class="img-polaroid"> </a>
				<%end%>
			</div>
			<div class="span2">
				<div class="row">
					<div class="span2">
						<%if @products.count > 22%>
				<a href="#" class="like-btn" id="<%= @products[22].id%>"> <div class="layover2 layover"></div>
						<div class="love-it2 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[22].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
				<div class="row">
					<div class="span2">
						<%if @products.count > 23%>
				<a href="#" class="like-btn" id="<%= @products[23].id%>"> <div class="layover2 layover"></div>
						<div class="love-it2 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[23].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
			</div>
			<div class="span2">
				<div class="row">
					<div class="span2">
						<%if @products.count > 24%>
				<a href="#" class="like-btn" id="<%= @products[24].id%>"> <div class="layover2 layover"></div>
						<div class="love-it2 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[24].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
				<div class="row">
					<div class="span2">
						<%if @products.count > 25%>
				<a href="#" class="like-btn" id="<%= @products[25].id%>"> <div class="layover2 layover"></div>
						<div class="love-it2 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[25].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="rowtype4">
		<div class="row">
			<div class="span6">
				<%if @products.count > 26%>
				<a href="#" class="like-btn" id="<%= @products[26].id%>"> <div class="layover6 layover"></div>
				<div class="love-it6 love-it">
					Lo amo <i class="icon-heart icon-white"></i>
				</div> <img src="<%= @products[26].image%>" class="img-polaroid"> </a>
				<%end%>
			</div>
			<div class="span3">
				<div class="row">
					<div class="span3">
						<%if @products.count > 27%>
				<a href="#" class="like-btn" id="<%= @products[27].id%>"> <div class="layover3 layover"></div>
						<div class="love-it3 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[27].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
				<div class="row">
					<div class="span3">
						<%if @products.count > 28%>
				<a href="#" class="like-btn" id="<%= @products[28].id%>"> <div class="layover3 layover"></div>
						<div class="love-it3 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[28].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
			</div>
			<div class="span3">
				<div class="row">
					<div class="span3">
						<%if @products.count > 29%>
				<a href="#" class="like-btn" id="<%= @products[29].id%>"> <div class="layover3 layover"></div>
						<div class="love-it3 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[29].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
				<div class="row">
					<div class="span3">
						<%if @products.count > 30%>
				<a href="#" class="like-btn" id="<%= @products[30].id%>"> <div class="layover3 layover"></div>
						<div class="love-it3 love-it">
							Lo amo <i class="icon-heart icon-white"></i>
						</div> <img src="<%= @products[30].image%>" class="img-polaroid"> </a>
				<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>

